// colors
$color-bg-primary : #fff;
$color-bg-secondary: #d52e4e;
$color-text-primary: #535760;
$color-text-secondary: #000;
$color-border-primary: #dcdcdc;

// font-sizes
$fs-xxs: 10px;
$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;

// paddings
$p-1: 5px;
$p-2: 8px;
$p-3: 10px;
$p-4: 12px;
$p-5: 16px;
$p-6: 18px;

// gaps
$g-1:5px;
$g-2:10px;
$g-3:12px;
$g-4:15px;

// radius
$radius-sm: 6px;
$radius-md: 8px;

// transitions
$transition-fast: all 0.3s;
$transition-normal: all 0.5s;


